mixin tab(text, link, extraclass)
    .tab(class=extraclass)
        a.nohighlight(href="#{link}") #{text}

mixin nonATab(text, id, extraclass)
    .pointertab
        .tab(id=id, class=extraclass)
            .nohighlight #{text}

#navbar
    #navcontents
        #navcontents2    
            .title
                a.nohighlight(href="/") Tale|Pipe
            #loginbar(class="fb-login-button loggedout", perms="email") Login with Facebook
            #logoutbar(class="loggedon")
            table.tabtable
                tr
                    td
                        mixin tab('Home', '/', '')
                    td
                        mixin tab('Create a Story', '/create')
                    td
                        mixin nonATab('See My Stories', 'myStoriesTab', 'loggedon')
                    td
                        mixin nonATab('See Friends\' Stories', 'friendsStoriesTab', 'loggedon')
                    td
                        mixin nonATab('See Other Stories', 'otherStoriesTab', '')
                    td
                        mixin tab('How To', '/howto', '')