include mixins/storymixins
script(src='/javascripts/storyrenderer.js')
.wrapper
    include navbar
    #container 
        h2(class='leftfloat') The Stories
        span(class='rightfloat')
            table
                tr
                    td
                        if sortDirection === 'ASC'
                            .orderindicatorup
                        else
                            .orderindicatordown
                    td
                        mixin sortoption('Popularity', 'popularity', 'DESC', sortDirection, sortOrder, user)
                        mixin sortoption('Date', 'date', 'DESC', sortDirection, sortOrder, user)
                        mixin sortoption('Alphabetical', 'alphabetical', 'ASC', sortDirection, sortOrder, user)
        .clearfloats
        if user
            div(class='useridentifier', userId='#{user}')
            img(class='userimage', userId='#{user}')
        div &nbsp
        each story in stories
            .storyholder(user='#{story.owner}', storyId='#{story.storyId}')
                span(class='storytitle leftfloat')= story.title
                .rightfloat
                    if story.completed
                        span(class='storycomplete') Complete
                    if !story.completed
                        span(class='storyincomplete') Incomplete
                .clearfloats
                if !user
                    div(class='useridentifier', userId='#{story.owner}')
                    img(class='userimage', userId='#{story.owner}')
                .clearfloats
                div &nbsp
                .storycontent= story.sections[0].content + '...'
                div &nbsp
                mixin likestemplate(story.numlikes, story.storyId);
        div &nbsp
        table(class="centerhorizontal")
            tr
                td                    
                    div(class='firstButton hoverbutton', currentPage='#{page}', totalPages='#{totalPages}', sortOrder='#{sortOrder}', currentDirection='#{sortDirection}', userId='#{user}')
                td
                    div(class='prevButton hoverbutton', currentPage='#{page}', totalPages='#{totalPages}', sortOrder='#{sortOrder}', currentDirection='#{sortDirection}', userId='#{user}')
                td
                    div(class='nextButton hoverbutton', currentPage='#{page}', totalPages='#{totalPages}', sortOrder='#{sortOrder}', currentDirection='#{sortDirection}', userId='#{user}')
                td
                    div(class='lastButton hoverbutton', currentPage='#{page}', totalPages='#{totalPages}', sortOrder='#{sortOrder}', currentDirection='#{sortDirection}', userId='#{user}')
        .centerhorizontal Page #{page} of #{totalPages}
    .push
include footer