script(src='/javascripts/storyrenderer.js')
script(src='/javascripts/EntryBox.js')
script(src='/javascripts/contribute.js')
#storyId(storyId='#{storyId}')
.wrapper
    include navbar
    .container 
        h2 #{title}
        - if (owner)
            div(class='useridentifier', userId='#{owner}')
        div &nbsp
        div(class="lockwarning loggedon")
            if hasLock
                div It's your turn to tell the story!
            else
                div Looks like someone else is adding to this story right now!
            div
                span Time left: 
                span(id='countdown', lockTime='#{lockTime}')
            div &nbsp

        - if (totalSections)
             div You are writing section #{nextSection} out of #{totalSections}

        - if (nextSection === totalSections)
            div Time to finish off the story!
        - if (characterOne && location)
            div(class='option ideasgroup') Some ideas:
                #seed
                    div &nbsp&nbsp&nbsp Character: 
                        span #{characterOne}
                    div &nbsp&nbsp&nbsp Where: 
                        span #{location}
            div &nbsp
        - if (snippet.contributor)
            div Continue from this...
                table
                    td
                        div(class='storysection') #{snippet.content}
                    td
                        div(class='useridentifier', userId='#{snippet.contributor}')
                    td
                        img(class='userimage', userId='#{snippet.contributor}')
        if hasLock
            .loggedon
                .optionholder
                    div
                        span(class='option') Your Contribution
                        span(class='gonebad') *
                        span :(
                        span(id='charwarning')
                        span )
                    textarea(id='contribution', class='optioninput', rows='5')
                div The next person will only see this:
                #visibleText
                div &nbsp
            .loggedon
                #contributebutton Contribute to this TalePipe!
        .loggedout
            .gonebad Looks like you're logged out! Please log in via Facebook to contribute
    .push
include footer