include mixins/storymixins
include mixins/locationWidget
script(src='/javascripts/storyrenderer.js')
.wrapper
    include navbar
    mixin locationWidget('read')
    .container 
        h2(class='leftfloat') The TalePipes
        span(class='rightfloat')
            table
                tr
                    td
                        if sortDirection === 'ASC'                            
                            div(class='orderindicatorup', currentSort='#{sortOrder}', user='#{userId}')
                        else
                            div(class='orderindicatordown', currentSort='#{sortOrder}', user='#{userId}')
                    td
                        mixin sortoption('Popularity', 'popularity', 'DESC', sortDirection, sortOrder, userId)
                        mixin sortoption('Date', 'date', 'DESC', sortDirection, sortOrder, userId)
                        mixin sortoption('Alphabetical', 'alphabetical', 'ASC', sortDirection, sortOrder, userId)
        .clearfloats
        if user
            div(class='useridentifier', userId='#{user}')
            img(class='userimage', userId='#{user}')
        div &nbsp
        if totalPages
            each story in stories
                .storyholder(user='#{story.owner}', storyId='#{story.id}')
                    span(class='storytitle leftfloat')= story.title                    
                    .rightfloat
                        if story.completed
                            span(class='storycomplete') Complete
                        if !story.completed
                            span(class='storyincomplete') Incomplete
                    .clearfloats
                    if !user
                        div(class='useridentifier', userId='#{story.owner}')
                        img(class='userimage', userId='#{story.owner}')
                    .clearfloats
                    div &nbsp
                    .storycontent= story.sections[0].content + '...'
                    div &nbsp
                    div(class='seemore', storyId='#{story.id}') See More
                    mixin likestemplate(story.id)
            div &nbsp
            table(class="centerhorizontal")
                tr
                    td                    
                        div(class='firstButton hoverbutton', currentPage='#{page}', totalPages='#{totalPages}', sortOrder='#{sortOrder}', currentDirection='#{sortDirection}', userId='#{userId}')
                    td
                        div(class='prevButton hoverbutton', currentPage='#{page}', totalPages='#{totalPages}', sortOrder='#{sortOrder}', currentDirection='#{sortDirection}', userId='#{userId}')
                    td
                        div(class='nextButton hoverbutton', currentPage='#{page}', totalPages='#{totalPages}', sortOrder='#{sortOrder}', currentDirection='#{sortDirection}', userId='#{userId}')
                    td
                        div(class='lastButton hoverbutton', currentPage='#{page}', totalPages='#{totalPages}', sortOrder='#{sortOrder}', currentDirection='#{sortDirection}', userId='#{userId}')
            .centerhorizontal Page #{page} of #{totalPages}
        else
            div Sorry, there are no stories here. Create one!
    .push
include footer