mixin storyholder(story)
    .storyholder
        div #{story}.title
        
mixin likestemplate(numlikes, storyId)
    span(class='like', storyId=storyId) Like?
    span #{numlikes} people like this story
    
mixin sortoption(displayName, value, direction, currentSort)
    span(class='sortbutton', sort='#{value}', direction='#{direction}', currentSort='#{currentSort}') #{displayName}
    