mixin storyholder(story)
    .storyholder
        div #{story}.title
        
mixin likestemplate(storyId)
    div(class="fb-like like", data-send="true", data-width="450", data-show-faces="false", data-href="http://thetalepipe.com/stories/"+storyId, storyId=storyId)
    
mixin sortoption(displayName, value, direction, currentDirection, currentSort, user)
    span(class='sortbutton', sort='#{value}', direction='#{direction}', currentDirection='#{currentDirection}', currentSort='#{currentSort}', user='#{user}') #{displayName}

mixin storyOptions(characterOne, location)
    div
        div(class='option ideasgroup') 
            div Some ideas:
            #seed
                .indent
                    div Character: 
                        span #{characterOne}
                    div Where: 
                        span #{location}


mixin storyrender(storyId, title, characterOne, location, owner, sections, completed, excludeBlurb)
    h2 #{title}
    - if (!excludeBlurb && characterOne)
        mixin storyOptions(characterOne, location)
        span(class='useridentifier', userId='#{owner}')
        br
        br
        each section, id in sections
            table(style="width:100%")
                tr(class="storysectionrow")
                    - if (id % 2 == 1)
                        td(style="width:40%")
                        td
                            div(class='storysection rightstyle') #{section.content}
                    - else
                        td
                            div(class='storysection leftstyle') #{section.content}
                    td
                        div(class='useridentifier', userId='#{section.contributor}')
                    td
                        img(class='userimage', userId='#{section.contributor}')
                    - if (id % 2 == 0)
                        td(style="width:40%")
    -if (totalPages)
        table(class="centerhorizontal")
            tr
                td                    
                    div(class='firstButton hoverbutton', currentPage='#{page}', totalPages='#{totalPages}', neverending='true')
                td
                    div(class='prevButton hoverbutton', currentPage='#{page}', totalPages='#{totalPages}', neverending='true')
                td
                    div(class='nextButton hoverbutton', currentPage='#{page}', totalPages='#{totalPages}', neverending='true')
                td
                    div(class='lastButton hoverbutton', currentPage='#{page}', totalPages='#{totalPages}', neverending='true')
        .centerhorizontal Page #{page} of #{totalPages}
    br
    br
    - if (completed && !excludeBlurb) 
        div This TalePipe is finished! Now 'Like' it to share it with your friends via Facebook:
    - else if (!excludeBlurb)
        div This TalePipe isn't finished, click 'Send' to share it with your friends!
    br
    mixin likestemplate(storyId)
    br
    a(href="/create") Now create your own TalePipe!