mixin storyholder(story)
    .storyholder
        div #{story}.title
        
mixin likestemplate(storyId)
    div(class="fb-like like", data-send="true", data-width="450", data-show-faces="false", data-href="http://thetalepipe.com/stories/"+storyId, storyId=storyId)
    
mixin sortoption(displayName, value, direction, currentDirection, currentSort, user)
    span(class='sortbutton', sort='#{value}', direction='#{direction}', currentDirection='#{currentDirection}', currentSort='#{currentSort}', user='#{user}') #{displayName}

mixin storyrender(storyId, title, characterOne, location, owner, sections, completed, excludeBlurb)
    h2 #{title}
    - if (!excludeBlurb) 
        div         
            div(class='option ideasgroup') Some ideas:
            #seed
                div &nbsp&nbsp&nbsp Character: 
                    span #{characterOne}
                div &nbsp&nbsp&nbsp Where: 
                    span #{location}
        span(class='useridentifier', userId='#{owner}')
        div &nbsp
    
    table(style="width:90%")
        -for (var id in sections)
            tr
                - var section = sections[id]
                td
                    div(class='storysection') #{section.content}
                td
                    div(class='useridentifier', userId='#{section.contributor}')
                td
                    img(class='userimage', userId='#{section.contributor}')
    div &nbsp
    - if (completed && !excludeBlurb) 
        div This TalePipe is finished! Now 'Like' it to share it with your friends via Facebook:
    - else if (!excludeBlurb)
        div This TalePipe isn't finished, click 'Send' to share it with your friends!
    div &nbsp
    mixin likestemplate(storyId)